<!DOCTYPE html>
<html>
<head>
<h1 style="color: rgb(179,0,0)">WBIG</h1>
<h2>Select final candidates</h2>
</head>
<body>


<form role="form" name="form" class="form-horizontal">

  <script cam-script type="text/form-script">

				camForm.on('form-loaded', function() {
  					camForm.variableManager.fetchVariable('cvs');
				});

				camForm.on('variables-fetched', function() {
  					$scope.cvs = camForm.variableManager.variableValue('cvs');
				});

				 camForm.on('submit', function(evt) {
    				// set value in variable manager so that it can be sent to backend
					camForm.variableManager.variableValue('cvs', $scope.cvs);
				
    				//camForm.variableManager.variableManager.variableValue('cv', $scope.cv);
					
					var selectedCV = $scope.cv;
					
					//camForm.variableManager.createVariable({
        			//	name: 'cv',
        			//	type: 'Object',
        			//	value: selectedCV,
        			//	isDirty: false
     				// });
					var cvData = $scope.cv;
					camForm.variableManager.createVariable({
        				name: 'cv',
        				type: 'Object',
        				value: cvData,
        				valueInfo: {
         					 // indicate that object is serialized as json
         					 serializationDataFormat: 'application/json',
         					 // provide classname of java object
          					objectTypeName: 'org.camunda.wf.hiring.entities.CV'
        				}
     				 });

 				 });

				

$scope.deleteElement = function(index){
    $scope.cvs.splice(index,1);
}

$scope.acceptElement = function(index, singlecv){
    $scope.cv = singlecv;
	$scope.disableAccept = true;
	$scope.cvs.splice(index,1);
}

			</script>		

    <div class="panel panel-default"  ng-repeat="singlecv in cvs">
        <div class="panel-heading"><strong>{{singlecv.name}} </strong>
        </div>
  <div class="panel-body">
      <input type="button" class="btn btn-success" value="Accept" ng-click="acceptElement($index, singlecv)" ng-disabled="disableAccept"> <input type="button" class="btn btn-error" value="Decline" ng-click="deleteElement($index)">
    <div class="control-group">
        <label class="control-label" >Study</label>
        <div class="controls">
        <input value="{{singlecv.study}}" type="text" readonly="true" class="form-control" />
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" >Degree</label>
        <div class="controls">
        <input value="{{singlecv.degree}}" type="text" readonly="true" class="form-control" />
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" >Grade</label>
        <div class="controls">
        <input value="{{singlecv.grade}}" type="text" readonly="true" class="form-control" />
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" >Skills</label>
        <div class="controls">
        <input value="{{singlecv.skills}}" type="text" readonly="true" class="form-control" />
        </div>
    </div>
    </div>
</div>

			
</form>
</body>
</html>